
@{
    ViewData["Title"] = "VerPorTipoServicio";

    Dictionary<string, List<Servicio>> serviciosPorTipo = ViewBag.porTipo;
}

<h2>Resumen por Tipo de Servicio</h2>

@foreach (var tipoServicio in serviciosPorTipo.Keys)
{
    <div class="my-3">
        

  <div class="w-100 d-flex justify-content-center align-items-center flex-column">
      <h4>@tipoServicio</h4>
    <table class="table table-striped shadow-sm table-hover w-75">
    <thead>
        <tr>
            <th>
                Servicio
            </th>
           
            <th>
               FechaCreacion
            </th>
            <th>
               Estado
            </th>
           
            <th> Acciones</th>
        </tr>
    </thead>
    <tbody>
        
            @foreach (var item in serviciosPorTipo[tipoServicio])
            {

                        if (serviciosPorTipo[tipoServicio].Count().Equals(0))
                        {
                            
            <tr> 
            <td></td>
        
             <td>
             <div class="row mt-3">
                <div class="w-100 text-end">
                 <h5>Sin datos</h5>
                </div>
            </div>
            </td>
             <td></td>
             <td></td>
            <td></td>
    

            </tr>
                        }
                        else{


                <tr>
                    <td>
                @item.ServicioTitulo
            </td>
           
            <td>
                @item.ServicioFechaCreacion
            </td>
            <td>
                @item.ServicioEstadoNavigation.ServicioEstadoDescripcion
            </td>

            <td>
                <a  class ="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.ServicioId">Editar</a> |
                <a class ="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.ServicioId">Detalle</a> |
                <a  class ="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.ServicioId">Eliminar</a>
            </td>
        </tr>
}}
    </tbody>
</table>
</div>


    </div>
}